p{
    background-color:rgb(20, 124, 72);
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h3{
    background-color: chocolate;
}
/*modo de colocar comentario*/